# Database
DATABASE_URL="postgres://postgres:PASSWORD@tropical-vitamin.com:5432/tropical_vitamin"

# JWT Authentication
JWT_SECRET="lcK9b8q2cJPbp/tktlT3WnfPs4N1gdW/ZWLNLBayW7E="

# Email (Gmail SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=contacto@tropical-vitamin.com
MAIL_PASS="your-app-password"
MAIL_FROM="Tropical Vitamin <contacto@tropical-vitamin.com>"

# SeaweedFS / S3 Storage
S3_ENDPOINT=http://s3-f0kogwsw80wgsgsww8wsogg0.192.99.154.142.sslip.io
S3_ACCESS_KEY=z7gMIxx9wxW1fMf3
S3_SECRET_KEY=dk3dq2qdHB0lKjHKe10cdbGd2QakZ84h
S3_BUCKET=tropical-vitamin
S3_PUBLIC_URL=http://s3-f0kogwsw80wgsgsww8wsogg0.192.99.154.142.sslip.io/tropical-vitamin